<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diogomenezes.whatsappclonedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2.full" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/whatsapp_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whatsapp_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".ui.contactList.MainAct"
            android:theme="@style/BaseTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.chat.ChatActivity"
            android:theme="@style/BaseTheme.NoActionBar" />
        <activity android:name=".ui.contactList.Main" />
        <activity android:name=".FirstScreen" />
        <activity android:name=".parse_Activities.ParseUserListActivity" />
        <activity android:name=".parse_Activities.ParseChatActivity" />
        <activity android:name=".parse_Activities.ParseLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>